.container>img{
    position: relative;
    right: 75px;
}

/*.navbar-nav>li{
    font-weight: bold;
    color: blue;
    opacity: 70%;
}*/



                                /* Home Page    */


#homeCar{
    position: relative;
    top: 64px;
    right: 62px;
    height:566px;
    width: 782px

}

#mainTopic{/* Car rental position*/
    position: absolute;
    font-size: 120px;
    font-family: fantasy;
    bottom: 147px;
    left: 660px;
    color: #1a1d20;
    display: flex;
    overflow: hidden;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#mainTopic>h1{/* Car rental position*/
    opacity: 20%;
    font-size: 150px;
}

#selh2{
    position: absolute;
    font-size: 47px;
    color: black;
    display: flex;
    left: 38px;
    bottom: 160px;
    font-family: "Britannic Bold";
    font-weight: bold;
    opacity: 50%;
}
#seh3{
    position: absolute;
    font-size: 47px;
    color: blue;
    display: flex;
    left: 183px;
    bottom: 34px;
    font-family: "Britannic Bold";
    font-weight: bold;
    opacity: 60%;
}






                                /*Slide*/


#mtvehicle{
    position: relative;
    top: 0px;
    left: 532px;
    font-family: fantasy;
    font-size: 39px;
    font-weight: bold;
    color: black;
    opacity: 90%;
}